In [3]:
import numpy as np
import pandas as pd
from scipy import stats

In [4]:
df = pd.read_excel(r'D:\Projects\Speech_Depression\data\others\量表分析.xlsx')
df

     分组  抑郁得分  焦虑得分  压力得分  失眠得分  自杀得分  Unnamed: 6
0     0     0     6    16     4     0        18.0
1     0     0     0     7     1     0         NaN
2     0     0     0    28     4     0         NaN
3     0     0     0    28     2     0         NaN
4     0     0     0    31     2     0         NaN
..   ..   ...   ...   ...   ...   ...         ...
117   1    13     8    29     8    15         6.0
118   1    15     5    24     7     0         NaN
119   1    17    18    34    15    27         NaN
120   1    18     6    40    10     0         NaN
121   1    24     9    16     4     0         NaN

[122 rows x 7 columns]

In [5]:
group0_phq9 = df[df['分组'] == 0]['抑郁得分']
group1_phq9 = df[df['分组'] == 1]['抑郁得分']
t_stat, p_value = stats.ttest_ind(group1_phq9, group0_phq9)

print(f"group0_phq9_Mean: {group0_phq9.mean()}, group1_phq9_Mean:{group1_phq9.mean()}")
print(f"group0_phq9_Std: {group0_phq9.std()}, group1_phq9_Std:{group1_phq9.std()}")
print(f"T-statistic: {t_stat}, P-value: {p_value}")

group0_phq9_Mean: 1.5476190476190477, group1_phq9_Mean:7.525
group0_phq9_Std: 1.4849222851041977, group1_phq9_Std:3.264597208953788
T-statistic: 11.253838671125475, P-value: 1.694330025952696e-20

In [6]:
group0_gad7 = df[df['分组'] == 0]['焦虑得分']
group1_gad7 = df[df['分组'] == 1]['焦虑得分']

t_stat, p_value = stats.ttest_ind(group1_gad7, group0_gad7)
print(f"group0_gad7_Mean: {group0_gad7.mean()}, group1_gad7_Mean:{group1_gad7.mean()}")
print(f"group0_gad7_Std: {group0_gad7.std()}, group1_gad7_Std:{group1_gad7.std()}")
print(f"T-statistic: {t_stat}, P-value: {p_value}")

group0_gad7_Mean: 1.5952380952380953, group1_gad7_Mean:4.4375
group0_gad7_Std: 2.2745626629709834, group1_gad7_Std:3.225074820052507
T-statistic: 5.081884629638969, P-value: 1.389865106134168e-06

In [7]:
group0_pss = df[df['分组'] == 0]['压力得分']
group1_pss = df[df['分组'] == 1]['压力得分']

t_stat, p_value = stats.ttest_ind(group1_pss, group0_pss)
print(f"group0_pss_Mean: {group0_pss.mean()}, group1_pss_Mean:{group1_pss.mean()}")
print(f"group0_pss_Std: {group0_pss.std()}, group1_pss_Std:{group1_pss.std()}")
print(f"T-statistic: {t_stat}, P-value: {p_value}")

group0_pss_Mean: 18.80952380952381, group1_pss_Mean:23.9625
group0_pss_Std: 8.308790805271292, group1_pss_Std:8.115376481903843
T-statistic: 3.3051392960185177, P-value: 0.0012521084965779752

In [8]:
group0_isi = df[df['分组'] == 0]['失眠得分']
group1_isi = df[df['分组'] == 1]['失眠得分']

t_stat, p_value = stats.ttest_ind(group1_isi, group0_isi)
print(f"group0_isi_Mean: {group0_isi.mean()}, group1_isi_Mean:{group1_isi.mean()}")
print(f"group0_isi_Std: {group0_isi.std()}, group1_isi_Std:{group1_isi.std()}")
print(f"T-statistic: {t_stat}, P-value: {p_value}")

group0_isi_Mean: 2.3095238095238093, group1_isi_Mean:5.575
group0_isi_Std: 2.3320470986133595, group1_isi_Std:4.485631067748368
T-statistic: 4.409453047832244, P-value: 2.2726727840772514e-05

In [9]:
group0_bss = df[df['分组'] == 0]['自杀得分']
group1_bss = df[df['分组'] == 1]['自杀得分']

t_stat, p_value = stats.ttest_ind(group1_bss, group0_bss)
print(f"group0_bss_Mean: {group0_bss.mean()}, group1_bss_Mean:{group1_bss.mean()}")
print(f"group0_bss_Std: {group0_bss.std()}, group1_bss_Std:{group1_bss.std()}")
print(f"T-statistic: {t_stat}, P-value: {p_value}")

group0_bss_Mean: 0.35714285714285715, group1_bss_Mean:1.875
group0_bss_Std: 1.6501504524374262, group1_bss_Std:6.063743673818357
T-statistic: 1.5887929104569014, P-value: 0.1147384888448673